docs/**/*.pdf
**/__pycache__
**/.pytest_cache
**/*.aux

applications/
automaticTB/SALCs/examples
automaticTB/SALCs/SubductionTables.tar.gz
automaticTB/tests/**/*.pdf
automaticTB/tests/**/*.dat
automaticTB/config.py

automaticTB/sitesymmetry/Bilbao/local
automaticTB/examples/**/*.yml

**/.DS_Store
