**/__pycache__
**/.pytest_cache
**/*.aux
**/.DS_Store

docs/
tmp/

examples/**/*.cube
examples/**/*.pdf
examples/**/*.yaml
examples/_*

tests/**/*.*
!tests/run_*

src/*.egg-info
src/automaticTB/solve/sitesymmetry/Bilbao/local
